.benefits {
  padding-top: 94px;
  padding-bottom: 94px;

  &__title--hidden {
    position: absolute;
    clip: rect (0000);
    width: 1px;
    height: 1px;
    margin: -1px;
    opacity: 0;
  }

  &__list {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__item::before {
    display: block;
    margin-bottom: 30px;
    content: "";
    height: 120px;
    width: 270px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: getColor("background-light");
  }

  &__item--antena::before {
    background-image: url(../images/antenna.svg);
  }

  &__item--clock::before {
    background-image: url(../images/clock.svg);
  }

  &__item--diagram::before {
    background-image: url(../images/diagram.svg);
  }

  &__item--astronaut::before {
    background-image: url(../images/astronaut.svg);
  }

  &__subtitle {
    margin-bottom: 10px;

    font-weight: getFont("bold");
    font-size: getFont("base-size");
    line-height: getFont("base-line-height");
    text-transform: uppercase;
    color: getColor("title");
  }
}
