.benefits {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: $desktop-width) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &__title--hidden {
    position: absolute;
    clip: rect (0000);
    width: 1px;
    height: 1px;
    margin: -1px;
    opacity: 0;
  }

  &__list {
    @media screen and (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
    }
  }

  &__item {
    &:not(:last-child) {
      @media screen and (max-width: 767px) {
        margin-bottom: 30px;
      }
    }

    @media screen and (min-width: $tablet-width) {
      width: calc((100% - 4 * 15px) / 2);
      margin: 15px;
    }

    @media screen and (min-width: $desktop-width) {
      width: calc((100% - 8 * 15px) / 4);
    }
  }

  &__item::before {
    display: block;
    margin-bottom: 30px;
    content: "";
    height: 120px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: getColor("background-light");
  }

  &__item--antena::before {
    background-image: url(../images/benefits-section/benefits-antenna.svg);
  }

  &__item--clock::before {
    background-image: url(../images/benefits-section/benefits-clock.svg);
  }

  &__item--diagram::before {
    background-image: url(../images/benefits-section/benefits-diagram.svg);
  }

  &__item--astronaut::before {
    background-image: url(../images/benefits-section/benefits-astronaut.svg);
  }

  &__subtitle {
    @media screen and (max-width: 767px) {
      display: flex;
      justify-content: center;
    }

    margin-bottom: 10px;

    font-weight: getFont("bold");
    font-size: getFont("base-size");
    line-height: getFont("base-line-height");
    text-transform: uppercase;
    color: getColor("title");
  }
}
