.footer {
  @media screen and (max-width: 1199px) {
    text-align: center;
  }

  @media screen and (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
  }

  @media screen and (min-width: $desktop-width) {
    justify-content: space-between;
  }

  &__block {
    @media screen and (max-width: 1199px) {
      &:not(:last-child) {
        margin-bottom: 60px;
      }
    }
    @media screen and (min-width: $tablet-width) and (max-width: 1199px) {
      &:first-child {
        margin-right: 165px;
      }
    }
  }

  &__title {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 20px;
  }

  &__contacts {
    @include transition(color);
  }

  &__contacts-item:not(:last-child) {
    margin-bottom: 9px;
  }

  &__contacts-link {
    color: getColor("footer");

    &:hover,
    &:focus {
      color: getColor("accent");
    }
  }

  &__media {
    display: flex;
    justify-content: center;
  }

  &__media-item:not(:last-child) {
    margin-right: 10px;
  }

  &__media-link {
    @extend %media-link;
    background-color: rgba(255, 255, 255, 0.1);

    &:hover,
    &:focus {
      background-color: getColor("accent");
    }
  }

  &__media-icon {
    width: 20px;
    height: 20px;
    fill: getColor("secondary");
  }
}
