.mobile-header {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  color: getColor("title");

  &__menu-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    height: 100%;

    z-index: 2;
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;
    padding: 48px 40px;

    background-color: getColor("main-background");

    &.is-open {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 32px;
  }



  &__link {
    @include transition(color);

    &:hover,
    &:focus {
      color: getColor("accent");
    }
  }

  &__link--current {
    color: getColor("accent");
  }

  &__contacts-item {
    &--email {
      margin-top: 32px;
      margin-bottom: 64px;
    }
  }

  &__contacts-link {
    font-size: 24px;
    line-height: 1.17;
    color: getColor("primary");

    @media screen and (max-width: 380px) {
      font-size: 22px;
    }

    @include transition(color);

    &:hover,
    &:focus {
      color: getColor("accent");
    }

    &--phone {
      font-size: 34px;
      color: getColor("accent");

      @media screen and (max-width: 380px) {
        font-size: 27px;
      }
    }
  }

  &__media-item {
    position: relative;
    margin-right: 10px;
    display: inline-block;
  }

  &__media-item:not(:first-child) {
    &::after {
      content: "";
      position: absolute;
      z-index: 4;
      top: 0;
      left: -10px;
      height: 100%;
      width: 2px;

      background-color: rgba(33, 33, 33, 0.2);
    }
  }

  &__media-sign {
    margin-left: 10px;
    margin-right: 10px;
    color: rgba(33, 33, 33, 0.2);
  }

  &__media-link {
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: getColor("accent");
    text-decoration: underline;

    @media screen and (max-width: 381px) {
      font-size: 10px;
    }

    @media screen and (min-width: 382px) and (max-width: 448px) {
      font-size: 14px;
    }
  }
}
