.page-header {
  border-bottom: 1px solid #ececec;

  &__container {
    position: relative;
    height: 60px;

    font-weight: 500;
    font-size: 14px;
    line-height: getFont("base-line-height");
    letter-spacing: 0.02em;
    color: getColor("title");

    @media screen and (min-width: $tablet-width) {
      display: flex;
      align-items: center;
      height: 80px;
    }
  }

  &__menu-button {
    position: absolute;
    top: 10px;
    right: 15px;
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    z-index: 3;

    &.is-open .page-header__icon-cross {
      display: block;
    }

    &.is-open .page-header__icon-menu {
      display: none;
    }

    @media screen and (min-width: $tablet-width) {
      display: none;
    }

    &:hover .page-header__icon-menu,
    &:focus .page-header__icon-menu,
    &:hover .page-header__icon-cross,
    &:focus .page-header__icon-cross {
      fill: getColor("accent");
      cursor: pointer;
    }
  }

  &__icon-cross {
    display: none;
  }

  &__nav-container {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    @media screen and (max-width: $tablet-width - 1px) {
      display: none;
    }
  }

  &__navigation {
    display: flex;
    align-items: center;
  }

  &__item:not(:last-child) {
    margin-right: 50px;
  }

  &__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    @include transition(color);

    &:hover,
    &:focus {
      color: getColor("accent");
    }
  }

  &__link--current {
    color: getColor("accent");
    position: relative;
    display: block;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: getColor("accent");
      border-radius: 2px;
    }
  }

  &__contacts {
    align-self: center;
    @media screen and (min-width: $desktop-width) {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  &__contacts-item:not(:last-child) {
    @media screen and (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
      margin-bottom: 10px;
    }

    @media screen and (min-width: $desktop-width) {
      margin-right: 30px;
    }
  }

  &__contacts-link {
    font-size: 12px;
    line-height: 1.17;
    color: getColor("primary");

    @include transition(color);

    &:hover,
    &:focus {
      color: getColor("accent");
    }

    @media screen and (min-width: $desktop-width) {
      display: inline-flex;
      padding-top: 32px;
      padding-bottom: 32px;

      font-size: 14px;
    }
  }

  &__contacts-icon {
    display: inline-flex;
    align-self: center;
    fill: currentColor;
    margin-right: 8px;

    @media screen and (min-width: $desktop-width) {
      margin-right: 10px;
    }

    &--email {
      width: 14px;
      height: 10px;

      @media screen and (min-width: $desktop-width) {
        width: 16px;
        height: 12px;
      }
    }

    &--phone {
      width: 10px;
      height: 14px;

      @media screen and (min-width: $desktop-width) {
        width: 10px;
        height: 16px;
      }
    }
  }
}
