.logo {
  font-family: "Raleway", sans-serif;
  font-weight: getFont("bold");
  font-size: 26px;
  line-height: 1.19;
  color: getColor("title");
}

.page-header__logo {
  @media screen and (max-width: $tablet-width - 1px) {
    display: inline-block;
    margin-top: 16px;
  }

  @media screen and (min-width: $tablet-width) {
    margin-right: 88px;
  }

  @media screen and (min-width: $desktop-width) {
    margin-right: 93px;
  }
}

.logo__Web {
  color: getColor("accent");
}
.footer__logo {
  margin-bottom: 20px;

  color: getColor("secondary");
}
