.logo {
  font-family: "Raleway", sans-serif;
  font-weight: getFont("bold");
  font-size: 26px;
  line-height: 1.19;
  color: getColor("title");
}
.page-header__logo {
  margin-right: 93px;
  align-self: center;
}
.logo__Web {
  color: getColor("accent");
}
.footer__logo {
  margin-bottom: 20px;

  color: getColor("secondary");
}
