.offer {
  @media screen and (max-width: 1599px) {
    display: none;
  }

  padding-bottom: 94px;

  &__list {
    display: flex;
  }
  &__title {
    margin-bottom: 50px;

    font-weight: getFont("bold");
    font-size: getFont("title-size");
    line-height: 1.16;
    text-align: center;
    color: getColor("title");
  }
  &__item {
    position: relative;
  }
  &__item:not(:last-child) {
    margin-right: 30px;
  }
  &__image {
    display: block;
  }
  &__text {
    position: absolute;
    bottom: 0;
    left: 0;

    display: inline-flex;
    width: 100%;
    height: 70px;

    font-weight: getFont("bold");
    line-height: getFont("base-line-height");
    color: getColor("secondary");
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    background-color: rgba(47, 48, 58, 0.8);
  }
}
