.order {
  text-align: center;
  padding: 0;

  &__title-container {
    width: 696px;
    margin: auto;
  }
  &__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: getColor("secondary");
  }
  &__button {
    @extend %button;
    width: 200px;
    height: 50px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    margin-top: 30px;
  }
}

.overlay {
  max-width: 2000px;
  height: 600px;
  padding-top: 200px;
  margin: 0 auto;
  background-color: #c4c4c4;
  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4) 0%,
      rgba(47, 48, 58, 0.4) 10%
    ),
    url(../images/header-background-img.jpg);
  background-position: center;
  background-size: cover;
}
