.team {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: getColor("background-light");

  @media screen and (min-width: $desktop-width) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &__title {
    @extend %page-titles--mobile;
    margin-bottom: 30px;

    @media screen and (min-width: $desktop-width) {
      font-size: getFont("title-size");
      line-height: 1.16;
      margin-bottom: 50px;
    }
  }

  &__subtitle {
    font-weight: getFont("bold");
    line-height: getFont("base-line-height");
    color: getColor("title");

    margin-bottom: 10px;
  }

  &__list {
    @media screen and (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
    }
  }

  &__item {
    display: block;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @media screen and (max-width: 767px) {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    @media screen and (min-width: $tablet-width) {
      width: calc((100% - 15px * 4) / 2);
      margin: 15px;
    }

    @media screen and (min-width: $desktop-width) {
      width: calc((100% - 15px * 8) / 4);
    }
  }

  &__image {
    display: block;
    width: 100%;
  }

  &__card {
    padding-top: 30px;
    padding-bottom: 24px;
    text-align: center;

    background-color: getColor("main-background");
  }
  &__media-link {
    @extend %media-link;
    fill: #afb1b8;

    &:hover,
    &:focus {
      background-color: getColor("accent");
      fill: getColor("secondary");
    }
  }

  &__media-icon {
    width: 20px;
    height: 20px;
  }

  &__text {
    @extend %card-text;
    margin-bottom: 16px;
  }
}
