.works {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: $desktop-width) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &__title--hidden {
    @extend %hidden;
  }

  &__button-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;

    @media screen and (min-width: $tablet-width) {
      justify-content: center;
    }
  }

  &__button-item:not(:last-child) {
    margin-right: 8px;

    @media screen and (max-width: 767px) {
      &:nth-child(-n + 3) {
        margin-bottom: 15px;
      }
    }
  }

  &__button {
    @extend %button;
    padding: 6px 22px;

    font-weight: 500;
    line-height: 1.62;
    text-align: center;

    color: getColor("title");
    background-color: getColor("background-light");
    border: none;
    cursor: pointer;

    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: getColor("secondary");
      background-color: getColor("accent");
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }

  &__card-list {
    @media screen and (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
    }
  }

  &__card-item {
    @media screen and (max-width: 767px) {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    @media screen and (min-width: $tablet-width) {
      width: calc((100% - 4 * 15px) / 2);
      margin: 15px;
    }

    @media screen and (min-width: $desktop-width) {
      width: calc((100% - 6 * 15px) / 3);
    }
  }

  &__card-link {
    @include transition(box-shadow);
    transition-property: box-shadow;
  }
  &__card-link:hover,
  &__card-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &__card-item:hover &__card-overlay {
    transform: translateY(-100%);
  }
  &__card-link:focus &__card-overlay {
    transform: translateY(-100%);
  }

  &__card-overlayContainer {
    position: relative;
    overflow: hidden;
  }

  &__card-image {
    display: block;
    max-width: 100%;
    height: auto;
  }

  &__card-overlay {
    position: absolute;
    bottom: -100%;
    left: 0;

    display: flex;
    width: 100%;
    height: 100%;
    padding: 24px;
    justify-content: center;
    align-items: center;

    font-size: 18px;
    line-height: 1.5;
    color: getColor("secondary");
    background-color: rgba(33, 150, 243, 0.9);

    @include transition(transform);
  }

  &__card-textContainer {
    display: block;
    padding: 20px 24px;
    border: 1px solid #eeeeee;
  }

  &__card-title {
    margin-bottom: 24px;

    font-weight: getFont("bold");
    line-height: getFont("base-line-height");
    color: getColor("title");
  }

  &__card-text {
    @extend %card-text;
  }
}
