$colors: (
  "primary": #757575,
  "secondary": #ffffff,
  "accent": #2196f3,
  "title": #212121,
  "footer": rgba(255, 255, 255, 0.6),
  "main-background": #ffffff,
  "background-dark": #2f303a,
  "background-light": #f5f4fa,
);

@function getColor($key) {
  @return map-get($colors, $key);
}

$fonts: (
  "normal": 400,
  "bold": 700,
  "base-size": 14px,
  "title-size": 36px,
  "title-mobile-size": 28px,
  "subtitle-size": 16px,
  "base-line-height": 1.14,
);

@function getFont($key) {
  @return map-get($fonts, $key);
}

$geometry: (
  "section-padding": 94px,
  "base-radius": 4px,
);

@function getGeometry($key) {
  @return map-get($geometry, $key);
}

$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1600px;
